<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Input</title>
</head>
<body>
    <h1>
        User Input
    </h1>

    <form action="/get_meta_data" method="GET">
        <label for="module_name">Module_name</label>
        <input type="text"  name= "module_name" id="module_name">
        <label for="screen_name">Screen_name</label>
        <input type="text" name="screen_name" id="screen_name">
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>